# https://blog.cles.jp/item/12731
[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service

[Service]
WorkingDirectory=/home/pi/weathermap
ExecStart=/home/pi/weathermap/weathermap
Restart=always
#RestartSec=90
RestartSec=30
#RuntimeMaxSec=300
Type=simple
PIDFile=/var/run/weathermap.pid

User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
